@import url('../../../globals/css/globals.css');

html {
  font-family: sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: min(1440px, 80vw);
  margin-inline: auto;
  font-family: sans-serif;
  /* background-color: #eee;
  color: #222; */
}

a {
  color: inherit;
}

pre {
  overflow-x: auto;
  padding: 1em 1em;
  font-size: 2em;
  line-height: 1.3;
}

.code {
  position: relative;
  isolation: isolate;
  background-color: #111;
  color: #eee;
  border-radius: 1ch;
}

.code::before {
  position: absolute;
  inset: auto 0.5ch 0 auto;
  z-index: -1;
  opacity: 0.1;
  font-size: 2em;
  text-shadow: none;
}

.code[class*="--"] {
  padding-block-start: 2em;
}

.code--css {
  text-shadow: 0 0 10px var(--color-accent);
}

.code--css::before {
  content: 'CSS';
  color: var(--color-accent);
}

.code--html {
  text-shadow: 0 0 10px var(--color-main);
}

.code--html::before {
  content: 'HTML';
  color: var(--color-main);
}

.code--js {
  text-shadow: 0 0 10px var(--color-sub);
}

.code--js::before {
  content: 'JS';
  color: var(--color-accent);
}

.code > .code__comment {
  color: #aaa;
  text-shadow: none;
}

.inline-code--rgb > span:first-child {
  color: red;
}

.inline-code--rgb > span:nth-child(2) {
  color: green;
}

.inline-code--rgb > span:nth-child(3) {
  color: blue;
}

ul.specificity-list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-inline-start: 4em;
}

ul.specificity-list--flipped {
  flex-direction: column-reverse;
}

ul.specificity-list li::before {
  content: '→ ';
}

ul.specificity-list li::after {
  content: ',';
}

ul.specificity-list::before {
  content: '↓';
  position: absolute;
  inset: 50% auto auto 0;
  font-size: 6em;
  color: var(--color-accent);
  translate: 0 -50% 0;
  transition: rotate var(--transition-default);
  pointer-events: none;
}

ul.specificity-list--flipped::before {
  rotate: x 180deg;
}

.links {
  font-size: 8em;
}

.links li:not(:first-child) {
  margin-block-start: 0.25em;
}

.links li {
  list-style-type: none;
}

.links a {
  display: inline-block;
}

a[href="https://google.com"] {
  color: rebeccapurple;
}

a[href*="google.com"] {
  background-color: tomato;
}

a[href$=".ca"] {
  font-family: fantasy;
  color: var(--color-accent);
}

a[href^="https://images"] {
  background-image: linear-gradient(red, blue);
}

.example__pseudoclasses--hover a {
  color: teal;
}

.example__pseudoclasses--hover a:hover {
  color: tomato
}


.example__pseudoclasses--active a {
  color: teal;
}

.example__pseudoclasses--active a:visited {
  color: rebeccapurple;
}

.example__pseudoclasses--active a:hover {
  color: orange;
}

.example__pseudoclasses--active a:active {
  color: red;
}

.example__cursor > p {
  cursor: not-allowed;
}

.example__color--text > p {
  color: tomato;
}

.example__color--bg-color > p {
  color: tomato;
  background-color: white;
}

.example__colors .text-rgb {
  color: rgb(255, 0, 0);
}

.example__colors .text-rgb-alt {
  color: rgb(100%, 0%, 0%);
}

.example__colors--hsl p {
  color: hsl(150, 69%, 23%);
}

.example__colors--alpha > p:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.3);
}

.example__colors--alpha > p:nth-child(2) {
  background-color: rgba(100%, 0%, 0%, 30%);
}

.example__colors--alpha > p:nth-child(3) {
  background-color: #ff00004d;
}

.example__cascade--4th p {
  color: green;
}

.example__cascade--4th article > p {
  color: orange;
}

.example__cascade--3rd .post-title {
  color: green;
}

.example__cascade--3rd .post > h3 {
  color: red;
}

.example__cascade--3rd .post > .post-title {
  color: orange;
}

.example__cascade--3rd a {
  color: green;
}

.example__cascade--3rd .post-link {
  color: orange;
}

.example__cascade--3rd a.post-link {
  color: blue;
}

.example__cascade--3rd .post > .post-link {
  color: red;
}

.example__cascade--3rd .post > a.post-link {
  color: rebeccapurple;
}

.example__cascade--2nd .post-title {
  color: green;
}

.example__cascade--2nd #title,
#title {
  color: orange;
}

.example__cascade--2nd .post-title.post-title1.post-title2.post-title3.post-title4.post-title5.post-title6.post-title7.post-title8.post-title9.post-title10.post-title11.post-title12.post-title13 {
  color: rebeccapurple;
}

.example__cascade a {
  background-color: unset;
}

.example__cascade--equal a {
  color: teal;
}

.example__cascade--equal a {
  color: brown;
}

.example__cascade--equal a {
  color: orange;
}

.example__cascade--important p {
  color: orange !important;
}

.example__cascade--important p#text-id.text {
  color: blue;
}

.example__cascade--inheritance .post {
  color: green;
}

.button--list-flipper {
  align-self: flex-start;
  padding: 0.5em;
  border-radius: 0.25em;
  ;
}

time {
  font-size: 46px;
  font-style: italic;
  color: rebeccapurple;
}

.intro-example-link {
  color: palevioletred;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: goldenrod;
}

.example__selectors--class .title {
  font-weight: 900;
}

.example__selectors--class .text {
  color: brown;
  font-size: 18px;
}

.example__selectors--class-composition .alert {
  font-size: 24px;
  font-weight: 500;
}

.success {
  color: green;
}

.warning {
  color: orange;
}

.error {
  color: red;
}

.example__selectors--descendant a {
  color: pink;
  text-decoration: none;
}

.example__selectors--descendant .social-links a {
  color: purple;
  text-decoration: underline;
}

.example__selectors--child .menu li {
  border: 1px dashed rgb(0 0 0 / 0.5);
}

.example__selectors--child .menu > li {
  border: 1px solid tomato;
}

.highlight {
  color: pink;
  font-weight: 700;
}

/* .icon {
  font-size: 0.5em;
  color: tomato;
} */

.page-links > li > a > .icon {
  font-size: 2em;
  color: rebeccapurple
}

html {
  --color-brand: lime;
}

.example__vars--1 p {
  text-shadow: 0 0 0.25em var(--color-brand);
}

.example__vars--1 p > a {
  --color-brand: #1ce1ce;
  color: var(--color-brand, pink);
}
