ul button {}
/* fujka ↑ */

.filter-button {
  /*  */
}

.filter-button:focus,
.filter-button:hover {
  outline: 2px solid rebeccapurple;
}

.filters-list .filter-button {}

ul {
  list-style-type: none;
}

.page-header {
  border-block-end: palevioletred;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper > nav {
  display: flex;
  gap: 2em;
}

.header-wrapper > nav > menu {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

.container {
  max-width: 1158px;
  margin-inline: auto;
  padding-inline: 15px;
}

.our-values {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.our-values > li > h3 {
  font-weight: 600;
  font-size: 32px;
}