:root {
  --tr-function: cubic-bezier(0.4, 0, 0.2, 1);
  --tr-duration: 250ms;
  --transition: var(--tr-function) var(var(--tr-duration));

  --c-ocean: #404bbf;
}

ul button {}
/* fujka ↑ */

.filter-button {
  /*  */
}

.filter-button:focus,
.filter-button:hover {
  outline: 2px solid rebeccapurple;
}

.filters-list .filter-button {}

ul {
  list-style-type: none;
}

.page-header {
  border-block-end: palevioletred;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header-wrapper > nav {
  display: flex;
  gap: 2em;
}

.header-wrapper > nav > menu {
  display: flex;
  gap: 1em;
  list-style-type: none;
}

.container {
  max-width: 1158px;
  margin-inline: auto;
  padding-inline: 15px;
}

.our-values {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.our-values > li > h3 {
  font-weight: 600;
  font-size: 32px;
}

.portfolio-item:hover {
  box-shadow: 0 5px rebeccapurple;
}

.filter-item:hover,
.filter-item:focus {
  /* some styles */
  transition: color var(--transition), background-color var(--transition); /* nie fujka */
  transition: all var(--transition); /* fujka */
}

.social-link:hover svg {
  fill: var(--my-color);
}

svg {
  fill: currentColor;
}

.main-nav-item a {
  position: relative;
}

.main-nav-item--current a::after { /*C3*/
  content: '';
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 4px;
  background-color: var(--c-ocean);
}