@import url('./vars.css');
@import url('./media.css');
@import url('./reset.css');
@import url('./headings.css');
@import url('./nav.css');
@import url('./keyframes.css');
@import url('./fonts/stylesheet.css');

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: max(2vw, 40px);
  width: min(1440px, 80vw);
  margin-inline: auto;
  color: var(--color-neutral-fg);
  font-family: var(--font-text);
  background-image: var(--gradient-dark);
}

body > main {
  padding: 0 5% 5%;
}

main > article {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;
}

article > section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-block-end: 1px solid var(--color-sub);
  padding-block: 3em;
}

article > section > section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

article > section:last-of-type {
  border: unset;
}

section > p {
  max-width: 80ch;
  line-height: 1.5;
}

section.iframe-embed > iframe {
  margin-block-start: 1em;
}

section > p:not([class]),
.example > p:not([class]) {
  border-inline-start: max(6px, 0.4vw) solid var(--color-accent);
  padding-inline-start: max(12px, 0.8vw);
  font-size: 1.25em;
}

.example:has( > h2 + p) > p {
  margin-block: 1em;
}

.example-list {
  margin-top: 2em;
}

a > sup {
  text-decoration: underline;
  text-decoration-color: var(--color-main);
  transition: color var(--transition-default);
}

a > sup::before {
  content: '[';
}

a > sup::after {
  content: ']';
}

section > p > a:not(:has(sup)),
.example > p > a,
.definitions a:not(:has(sup)) {
  text-decoration: underline;
  text-decoration-color: var(--color-main);
  transition: color var(--transition-default);
}

section > p > a:not(:has(sup)):hover,
.example > p > a:hover,
.definitions a:not(:has(sup)):hover,
a:has(sup):hover > sup {
  color: var(--color-main);
}

code,
pre {
  font-weight: inherit;
  font-family: var(--font-mono);
}


pre {
  overflow-x: auto;
  padding: 1em 1em;
  font-size: 2em;
  line-height: 1.3;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: 700;
}

.code {
  position: relative;
  isolation: isolate;
  background-color: #111;
  color: #eee;
  border-radius: 1ch;
}

.code:is(code) {
  padding-inline: 0.5em;
}

.code::before {
  position: absolute;
  inset: auto 0.5ch 0 auto;
  z-index: -1;
  opacity: 0.1;
  font-size: 2em;
  text-shadow: none;
}

.code[class*="--"] {
  padding-block-start: 2em;
}

.code--small {
  max-width: 100%;
  padding-block: 2em;
  font-size: 1em;
}

.code--css,
.code--sass {
  text-shadow: 0 0 10px var(--color-accent);
}

.code--css::before {
  content: 'CSS';
  color: var(--color-accent);
}

.code--html,
.code--svg {
  text-shadow: 0 0 10px var(--color-main);
}

.code--html::before {
  content: 'HTML';
  color: var(--color-main);
}

.code--svg::before {
  content: 'SVG';
  color: var(--color-main);
}

.code--js {
  text-shadow: 0 0 10px var(--color-sub);
}

.code--js::before {
  content: 'JS';
  color: var(--color-accent);
}

.code--sass::before {
  content: 'SASS';
  color: var(--color-accent);
}

.code > .code__comment {
  color: #aaa;
  text-shadow: none;
}

.footnotes {
  margin-block-start: 3em;
  border-block-start: max(1px, 0.1vw) solid var(--color-sub);
  padding-block-start: 3em;
}

.footnotes h2 {
  font-size: clamp(1.5rem, 1.5vw + 1rem, 2.5rem);
}

.footnotes ol {
  padding-inline-start: 1em;
}

.footnotes ol {
  counter-reset: footnotes;
}

.footnotes ol > li {
  display: inline-flex;
  align-items: baseline;
  gap: 1em;
  counter-increment: footnotes;
}

.footnotes ol > li::before {
  content: counter(footnotes) '. ';
}

.footnotes :target p {
  background-color: var(--color-accent);
  color: var(--color-neutral-bg);
}

.example {
  margin-block-start: 2em;
}

.example > code,
.example > pre,
.example > h3 > code,
code:has(+ p,
  + pre,
  + article),
.definitions dt code {
  align-self: flex-start;
  display: inline-block;
  margin-block-start: 2em;
  border: min(2px, 0.1vw) solid var(--color-main);
  border-radius: 0.25em;
  padding-inline: 0.5em;
  word-break: break-word;
}

.example > h3 > code {
  margin-block-start: 0;
}

.example > .code--small {
  border: none;
}

.example > h3 {
  margin-block-end: 1em;
}

.example-wrapper {
  position: relative;
  border: 2px dashed var(--color-neutral-fg);
  border-radius: 0.25em;
  padding: 1em 2em;
  backdrop-filter: saturate(200%);
  container-type: inline-size;
}

.example-wrapper:has(.example-position) {
  backdrop-filter: unset;
  /* backdrop-filter creates new stacking contexts */
}

.example-wrapper--comparison,
.comparison {
  display: grid;
  grid-template: auto / repeat(2, 1fr);
  gap: 2em;
}

@container (max-width: 800px) {
  .example-wrapper--comparison,
  .comparison {
    grid-template: auto / 1fr;
  }
}

.example-wrapper--white {
  background-color: white;
}

.example > p,
.example > .example-wrapper {
  margin-block-start: 2em;
}

.example-wrapper code {
  border: min(2px, 0.1vw) solid var(--color-neutral-fg);
  border-radius: 0.25em;
  padding-inline: 0.25em;
  background-color: var(--color-neutral-bg);
}

.example-wrapper:has(.example-label) {
  padding: 3em 3em 2em;
}

.code-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  flex-wrap: wrap;
}

.code-wrapper + .code-wrapper {
  margin-block-start: 2em;
}

.code-wrapper > * {
  flex: min(50%, 50ch) 1 0;
}

.examples-list {
  margin-block: 3em;
}

.examples-list > li + li {
  margin-block-start: 1em;
  padding-block-start: 1em;
}

.definitions dt {
  font-size: 1.25em;
}

.definitions dt:not(:first-of-type) {
  margin-block-start: 1.5em;
}

.definitions dt > code {
  margin-block-start: unset;
}

.definitions > dd {
  padding-block-start: 0.5em;
}

.definitions dd,
.definitions dt,
.definitions li {
  border-inline-start: var(--border-slim) solid var(--color-accent);
  padding-inline-start: 1rem;
}

.definitions dd ul {
  padding-block: 0.25em;
}

.definitions dd li {
  padding-inline-start: 0.5em;
  list-style: inside circle;
}

.definitions dd li::marker {
  margin-inline-end: 0.25em;
}


del {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.no-shadow {
  text-shadow: none;
}

.dim {
  opacity: 0.6;
}