.main-navigation {
  position: sticky;
  inset: 0 auto auto;
  isolation: isolate;
  z-index: 1;
  background: inherit;
  outline: max(2px, 0.1vw) solid var(--color-main);
  border-block-start: none;
  border-end-end-radius: 1em;
  border-end-start-radius: 1em;
  padding: 0.5em 1em 1em;
  font-size: clamp(1.2rem, 1vw, 2em);
}

.main-navigation--static {
  position: static;
}

.main-navigation > menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0;
  list-style-type: none;
}

.main-navigation__item {
  color: var(--color-main);
  text-decoration: underline;
  transition: scale var(--transition-default),
    color var(--transition-fast);
  text-align: center;
}

.main-navigation__item--current {
  color: var(--color-accent);
  text-decoration-style: double;
  text-decoration-color: var(--color-main);
}

.main-navigation__item--current > a {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
}

.main-navigation__item:not(.main-navigation__item--current):hover {
  text-decoration-color: var(--color-main);
}

.main-navigation__item--current:hover > a {
  text-decoration-color: var(--color-main);
}

.main-navigation__item:hover {
  color: var(--color-accent);
  scale: 1.1;
}

.navigation-state-toggler {
  position: fixed;
  inset: 0 0 auto auto;
}

.main-navigation__toc {
  position: absolute;
  inset: calc(100% + max(2px, 0.1vw)) 5% auto auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5em;
  max-height: 50vh;
  outline: max(2px, 0.1vw) solid var(--color-main);
  border-end-end-radius: 0.5em;
  border-end-start-radius: 0.5em;
  padding: 0.5em;
  background: inherit;
  pointer-events: none;
  translate: 0 -100vh 0;
  transform-origin: right;
  transition: translate var(--transition-fast);
}

.main-navigation__toc--active {
  translate: none;
  pointer-events: all;
}

.main-navigation__toc a {
  transition: color var(--transition-fast);
}


.main-navigation__toc a:hover {
  color: var(--color-accent);
}

.main-navigation__toc-toggle {
  display: block;
  margin-block-start: 1em;
  margin-inline-start: auto;
  cursor: pointer;
  background-color: transparent;
  color: var(--color-main);
  transition: color var(--transition-fast), scale var(--transition-fast);
}

.main-navigation__toc-toggle:hover {
  color: var(--color-accent);
  scale: 1.1;
}