.example-wrapper > [class^="examples"] {
  /* width: revert;
  height: revert;
  margin: revert;
  border: revert;
  padding: revert;
  font: revert;
  font-size: revert;
  vertical-align: revert;
  list-style: revert; */
}

.example-label {
  position: absolute;
  text-align: center;
  line-height: 2;
}

.example-label--main-axis {
  inset: 0 0 auto;
  translate: 0 0.5em 0;
}

.example-label--cross-axis {
  inset: 50% auto auto 0;
  transform-origin: center;
  translate: -1.5em -50% 0;
  rotate: -90deg;
}

.examples-flex {
  display: flex;
}

.examples-flex--basics-1 {
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
  flex-wrap: wrap;
  border-width: var(--border-default);
  border-style: solid;
  border-block-end-style: dotted;
  border-inline-end-style: dotted;
  border-block-color: var(--color-main);
  border-inline-color: var(--color-accent);
}

.examples-flex--legend {
  position: absolute;
  inset: auto auto 0.5em 3em;
}

.examples-flex--legend ul {
  display: flex;
  align-items: center;
  gap: 1em;
  list-style-type: none;
}

.example-label-badge {
  border-width: var(--border-default);
}

.example-label-badge--main-axis {
  color: var(--color-main);
}

.example-label-badge--cross-axis {
  color: var(--color-accent);
}

.example-label-badge--axis-start {
  border-style: solid;
}

.example-label-badge--axis-end {
  border-style: dotted;
}

.examples-flex--basics-1 > li {
  display: grid;
  place-items: center;
  aspect-ratio: 2;
  min-width: 75px;
  align-self: center;
  border: max(2px, 0.1vw) solid var(--color-sub);
  padding: 1em;
  background-color: var(--color-neutral-bg);
}

.examples-flex--basics-1 > li:nth-child(3n+4) {
  aspect-ratio: 3;
}

.examples-flex--basics-1 > li:nth-child(2n+2) {
  aspect-ratio: 4;
}

.examples-flex--container-1 {
  display: flex;
}

.examples-flex--container-row {
  flex-direction: row;
}

.examples-flex--container-row-reverse {
  flex-direction: row-reverse;
}

.examples-flex--container-column {
  flex-direction: column;
}

.examples-flex--container-column-reverse {
  flex-direction: column-reverse;
}

.examples-flex--justify-flex-start {
  justify-content: flex-start;
}

.examples-flex--justify-flex-end {
  justify-content: flex-end;
}

.examples-flex--justify-space-between {
  justify-content: space-between;
}

.examples-flex--justify-space-around {
  justify-content: space-around;
}

.examples-flex--justify-space-evenly {
  justify-content: space-evenly;
}

.examples-flex--justify-center {
  justify-content: center;
}

[class*="examples-flex--align"] > li,
[class*="examples-flex--justify"] > li,
[class*="examples-flex--pseudo-grid"] > li,
[class*="examples-flex--wrap"] > li,
[class*="examples-flex--grow"] > li,
[class*="examples-flex--shrink"] > li,
[class*="examples-flex--basis"] > li {
  border: max(2px, 0.1vw) solid var(--color-sub);
  padding: 1em;
  background-color: var(--color-neutral-bg);
}

[class*="examples-flex--align"] > li:nth-child(1) {
  min-height: 6em;
}

[class*="examples-flex--align"] > li:nth-child(2) {
  min-height: 5em;
}

[class*="examples-flex--align"] > li:nth-child(3) {
  min-height: 7em;
}

[class*="examples-flex--align"] > li:nth-child(4) {
  min-height: 5em;
}

[class*="examples-flex--align"] > li:nth-child(5) {
  min-height: 6em;
}

.examples-flex--align-items-stretch {
  align-items: stretch;
}

.examples-flex--align-items-flex-start {
  align-items: flex-start;
}

.examples-flex--align-items-flex-end {
  align-items: flex-end;
}

.examples-flex--align-items-baseline {
  align-items: baseline;
}

.examples-flex--align-items-center {
  align-items: center;
}

[class*="examples-flex--align-content"] {
  min-height: 50vh;
}

.examples-flex--align-content-stretch {
  align-content: stretch;
}

.examples-flex--align-content-flex-start {
  align-content: flex-start;
}

.examples-flex--align-content-flex-end {
  align-content: flex-end;
}

.examples-flex--align-content-center {
  align-content: center;
}

.examples-flex--wrap-nowrap {
  flex-wrap: nowrap;
}

.examples-flex--wrap-wrap {
  flex-wrap: wrap;
}

.examples-flex--wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

[class*="examples-flex--align-content"] {
  flex-wrap: wrap;
  gap: 1em;
}

.examples-flex--pseudo-grid {
  flex-wrap: wrap;
  gap: 10px;
}

.examples-flex--pseudo-grid > li {
  flex-basis: calc((100% - 20px) / 3);
  text-align: center;
}

.examples-flex--basis-1 > li {
  flex-basis: 150px;
}

.examples-flex--basis-2 > li {
  flex-basis: 3em;
}

.examples-flex--basis-3 > li {
  flex-basis: 30%;
}

.examples-flex--grow-1 > li {
  width: 15%
}

.examples-flex--grow-1 > li:nth-child(2) {
  flex-basis: 30%;
  flex-grow: 2;
}

.examples-flex--grow-1 > li:nth-child(3) {
  width: 25%
}

.examples-flex--grow-2 > li {
  flex-basis: 15%;
  flex-grow: 2;
}

.examples-flex--grow-2 > li:nth-child(2) {
  flex-grow: 3;
}

.examples-flex--grow-3 > li {
  flex-basis: 20ch;
}

.examples-flex--grow-3 > li.main {
  flex-grow: 1;
}

.examples-flex--grow-4 {
  min-height: 30vh;
  flex-direction: column;
}

.examples-flex--grow-4 > li.hero {
  flex-grow: 1;
}

.examples-flex--shrink-1 > li {
  flex-basis: 40%;
}

.examples-flex--shrink-1 > li:nth-child(2) {
  flex-shrink: 2;
}
