.example-transition--1 {
  color: rebeccapurple;
  transition: color 4s;
}

.example-transition--1:hover {
  color: limegreen;
}

.example-transition--2 > p:nth-child(1) {
  transition-property: color;
}

.example-transition--2 > p:nth-child(2) {
  transition-property: rotate;
}

.example-transition--2 > p:nth-child(3) {
  transition-property: display;
}

.example-transition--2 > p:nth-child(4) {
  transition-property: width;
}

.example-transition--2 > p:nth-child(1):hover {
  color: var(--color-accent);
}

.example-transition--2 > p:nth-child(2):hover {
  rotate: 115deg;
}

.example-transition--2 > p:nth-child(3):hover {
  display: none;
}

.example-transition--2 > p:nth-child(4):hover {
  width: 50%;
}

.example-transition--2 > p:nth-child(5):hover {
  scale: 2;
  transition-duration: var(--transition-default);
  /* 400ms */
}

.example-transition--duration > * {
  transition-duration: 2.137s;
}

.example-transition-timing-function > div {
  width: 25%;
  aspect-ratio: 1;
  background-color: var(--color-accent);
  transition-duration: 3s;
  transition-property: translate;
}

.example-transition-timing-function:hover > div {
  translate: 300% 0 0;
}

.example-transition-timing-function--linear > div {
  transition-timing-function: linear;
}

.example-transition-timing-function--ease-in > div {
  transition-timing-function: ease-in;
}

.example-transition-timing-function--ease-out > div {
  transition-timing-function: ease-out;
}

.example-transition-timing-function--ease-in-out > div {
  transition-timing-function: ease-in-out;
}

.example-transition-timing-function--steps > div {
  transition-timing-function: steps(10, jump-start);
}

.example-transition-timing-function--cubic-bezier > div {
  transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
}

.example-transition-delay {
  color: rebeccapurple;
  transition-property: color;
  transition-duration: 200ms;
  transition-delay: 1.5s;
}

.example-transition-delay:hover {
  color: limegreen;
}

.example-transition-shorthand {
  color: rebeccapurple;
  transition: color 200ms ease-in-out 1.5s;
}

.example-transition-shorthand:hover {
  color: limegreen;
}

.example-animation--1 {
  position: relative;
  display: grid;
  place-items: center;
}

.example-animation--1 > div {
  width: 25%;
  aspect-ratio: 1;
  border: var(--border-thick) solid var(--color-sub);
  background-color: var(--color-accent);
  animation: 2s ease-in 0s infinite normal both running makingRounds;
}

.example-animation--name:hover {
  animation-name: toRebeccapurple;
}

.example-animation--duration:hover {
  animation-name: toRebeccapurple;
  animation-duration: 400ms;
}

.example-animation--fill-mode:hover {
  animation-name: toRebeccapurple;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}